@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$loader-dur:2000ms;
$loader-delay:150ms;
$content-delay:$loader-delay+$loader-dur;
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: whitesmoke;
    font-family: 'Shrikhand';
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    width: 100%;
    height: 100%;
    animation: loader-background $loader-dur $loader-delay linear;
    &__spinner {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient($color-primary, $color-secondary, $color-tertiary);
        animation: loader-spinner $loader-dur $loader-delay linear;
        span {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: linear-gradient($color-tertiary, $color-secondary, $color-primary);
            &:nth-child(1) {
                filter: blur(5px);
            }
            &:nth-child(2) {
                filter: blur(10px);
            }
            &:nth-child(3) {
                filter: blur(25px);
            }
            &:nth-child(4) {
                filter: blur(50px);
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            background-color: linear-gradient($color-primary, $color-secondary, $color-tertiary);
            border: solid $color-tertiary 5px;
            border-radius: 50%;
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    vertical-align: center;
    position: absolute;
    overflow: hidden;
    background-color: white;
    animation: content $content-delay linear;
    width: 100%;
    height: 100vh;
}

@keyframes content {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loader-background {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes loader-spinner {
    0% {
        transform: rotate(0turn);
    }
    22% {
        transform: rotate(120deg);
    }
    50% {
        opacity: 1;
    }
    76% {
        transform: rotate(245deg);
    }
    100% {
        transform: rotate(1turn);
        opacity: 0;
    }
}